--extra-index-url https://download.pytorch.org/whl/cpu
mlflow
hydra-core
torch
torchvision
numpy
omegaconf
loguru
torchmetrics
matplotlib
scikit-learn
psutil
dvc[s3]
boto3

# Linters
flake8
flake8-pyproject
isort
black
