--extra-index-url https://download.pytorch.org/whl/cpu
mlflow
hydra-core
torch
torchvision
numpy
omegaconf
loguru
torchmetrics
matplotlib
psutil
pynvml
flake8
flake8-pyproject
isort
black
dvc[s3]
platformdirs
boto3